body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  background: #3b82f6;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}

.dashboard {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.logout {
  margin: 20px;
  background: red;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  padding: 15px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}
